html {
  height: 100%;
  width: 100%; 
  background-color: darkgreen;
  color: #E9B872;
}
table,th,td{border: 5px solid lightblue  ;
            font-size: 40px; 
            padding:20px ;
           }